<div class="widget-links widget">
    <h4 class="widget__title">{{ .Site.Params.ImportantPagesTitle | default "Important Pages/Posts" }}</h4>
    <div class="widget__content widget__list">
        <ul>
        {{ $ctx := . }}
        {{ $site := .Site }}
        {{ range $site.Params.ImportantPages }}
            {{- $page := $site.GetPage . }}
            {{- $str := . }}
            {{- with $page }}
                {{- $title := .Title | replaceRE "\\s*[:\\(].*" "" -}}
                <li><a href="{{.RelPermalink}}">{{ $title }}</a></li>
            {{- else }}
                    {{errorf "Bad page in ImportantPages (%s)" $str}}
            {{- end}}
        {{ end }}
        </ul>
    </div>
  </div>
  
