{{/*
	- hacked by gleicher to include summaries of sections  
		- as part of how this works, a default pagination of 12 is given
	- also hacked to be parameterized...
		top_pagination - to put pagination controls on the top 
		paginate - allow section pages to set their own pagination 
    */}}
{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{/* explicitly create the paginator - give it the page list
		 for some reason, this includes the Sections (whereas, the default does not
		 also - use a default rather than an if (which mainroad did) 
		*/}}
	{{- $paginator := .Paginate .Pages (.Params.paginate | default 12 )}}
	{{- if .Params.top_pagination }}
		{{ partial "pagination.html" . }}
	{{- end }}
	{{- range .Paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }}
	{{/* put pagination inside of block */}}
	{{ partial "pagination.html" . }}
</main>
{{ end }}