{{/*
    hacked by gleicher to include summaries of sections  
	- I don't remember why I did this (!) - I think it has to do with deeper trees
	- also hacked to be parameterized...
		top_pagination - to put pagination controls on the top 
		paginate - allow section pages to set their own pagination 
    */}}
{{ define "main" }}
<main class="main list" role="main">
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
	{{/* fixme - we do sections before the pages, it would be nice to better integrate them */}}
	{{- range .Sections }}
		{{- .Render "summary" }}
	{{- end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{- if .Params.paginate }}
		{{- $ignore := .Paginator .Params.paginate }}
	{{- end }}
	{{- if .Params.top_pagination }}
		{{ partial "pagination.html" . }}
	{{- end }}
	{{- range .Paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }}
	{{/* put pagination inside of block */}}
	{{ partial "pagination.html" . }}
</main>
{{ end }}