{{/*
	Warning: there are two types of summaries visual not-visual
	this is the not-visual
	The correct one is chosen by the list template (see list.html)

    Taken from MainRoad - but hacked by gleicher
    - use shortdesc (if it exists)
    - use "myreadmore" if variable set for less obtrusive readmore link
    - show readmore button even if a summary provided
*/}}
<article class="list__item post">
	{{- if .Params.thumbnail }}
	<figure class="list__thumbnail">
		<a href="{{ .Permalink }}">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
		</a>
	</figure>
    {{- end }}
    {{- if .Params.resourcethumb }}
        {{- $page := . }}
        {{- with .Page.Resources.GetMatch .Params.resourcethumb }}
            {{ $thumb := .Fit ( $page.Site.Params.videoThumbSize | default "180x120" )  }}
            <figure class="list__thumbnail">
                <a href="{{ .Permalink }}">
                    <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" />
                </a>
            </figure>
        {{- end}}
    {{- end }}
	<header class="list__header">
		<h3 class="list__title post__title " id="{{ anchorize .Title }}">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h3>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
		{{ with .Params.shortdesc}}
		<p>
			<i>{{ . }}</i>
		</p>
		{{- end}}
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }}
		{{- if .Site.Params.myreadmore | default true }}
		{{- if or .Truncated .Params.summary }}
		<span class="summary__readmore"><a href="{{ .RelPermalink }}">{{ T "read_more" }}</a></span>
		{{- else }}
		<span class="summary__readmore"><a href="{{ .RelPermalink }}">Read formatted page...</a></span>
		{{- end }}
		{{- end }}
		</div>
	{{- if .Site.Params.readmore }}
	{{- if or .Truncated .Params.summary }}
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
	</div>
	{{- end }}
	{{- end }}
</article>
