{{- $page := . }}
{{- $name := .Get "src" }}
{{- $highlight := .Get "highlight" }}
{{- $inline := .Get "inline" }}
{{- $link := .Get "link" }}
{{- if $name }}{{- else }}{{errorf "resource-svg needs a src argument" }}{{- end}}
{{- $alt := .Get "alt" | default $name }}
{{- $class := .Get "class" | default "" }}
{{- with .Page.Resources.GetMatch $name }}
    {{- if $highlight -}}
        {{ highlight .Content "svg" "linenos=inline" }}
    {{- else if $inline }}
        {{ .Content | safeHTML }}
    {{- else if $link }}
        <a href="{{ .RelPermalink }}">{{.Name}}</a>
    {{- else -}}
     <figure class="{{ $class }}">
        <a href="{{ .RelPermalink }}">
            <img src="{{ .RelPermalink }}" alt="{{ $alt }}" />
        </a>
    </figure>
    {{- end -}}
{{- else -}}
    {{  errorf "resource-svg couldn't open '%s':" $name -}}
{{- end}}

