<header class="header">
	<div class="container header__container">
		<div class="logo">
			{{- $logofile := (.Site.Params.logo | default "/svg/crest.svg") -}}
			{{- with $logofile -}}
			{{- $logo := resources.Get . -}}
			<a class="logo__link" href="{{ "" | relLangURL }}" rel="home">
				<img class="logo__img" src="{{- $logo.RelPermalink -}}">
			</a>
			{{- end -}}
			<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
				<div class="logo__title">{{ .Site.Title }}</div>
				{{ with .Site.Params.subtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
			</a>
		</div>
		{{ partial "menu.html" . }}
	</div>
</header>