{{/* Header information for a video 

    Note that this does not include the title 
    (since that might be drawn differently depending on context)

    It is a partial because it appears in both the summary, as well as
    on the "single page" view of a video.

    For things like extpdf - it can either be a complete URL, or a URL inside
    of site.assetStore
    */}}
<div class="video__head">
    {{ with partial "post_meta.html" . -}}
        {{/* don't make this class "post__meta" since we don't want the underline */}}
        <div>{{ . }}</div>
    {{- end }}
    {{- with .Params.vidauthor -}}
        <div class="video__author">By: {{ . }}</div>
    {{- end -}}
    {{ with .Params.shortdesc}}
    <div class="video__shortdesc">
        <i>{{ . }}</i>
    </div> 
    {{- end -}}   
    {{ with .Params.desc}}
    <div class="video__shortdesc">
        <i>{{ . }}</i>
    </div> 
    {{- end -}}
    {{- $site := .Site -}}  
    <p class="video__headlinks">
        {{- with .Params.slideshare -}}
            <a href="{{ . }}"  class="inlinebtn">SlideShare</a>&nbsp;
        {{- end -}}
        {{- with .Params.paperpage -}}
            <a href="{{ . }}">(Paper Page)</a>&nbsp;
        {{- end -}}
        {{- with .Params.youtube -}}
            <a href="https://www.youtube.com/watch?v={{- . -}}">YouTube</a>&nbsp;
        {{- end -}}
        {{- with .Params.projectpage -}}
            <a href="{{ . }}">(Project Page)</a>&nbsp;
        {{- end -}}
        {{ with .Page.Resources.Match "*.pdf" }}
            {{- range . -}}
            <a href="{{ .RelPermalink }}" class="inlinebtn">{{ .Name }}</a>&nbsp; 
            {{- end -}}
        {{- end -}}
        {{ with .Page.Params.extpdfs }}
            {{- range . -}}
            {{ $name := split . "/" | last 1 }}
            {{ $url := cond (in . "http") . (printf "%s%s" $site.Params.assetStore . )   }}
            <a href="{{ $url }}" class="inlinebtn">{{ index $name 0 }}</a>&nbsp; 
            {{- end -}}
        {{- end -}}
    </p>
</div>
