{{- $topmargin := .Get "topmargin" | default "1rem" }}
{{- $bottommargin := .Get "bottommargin" | default "1rem" }}
<div style="display: flex; flex-direction: row; flex-wrap:wrap; margin-top:{{$topmargin}}; margin-bottom:{{$bottommargin}}">
    {{- $imgwidth := .Get "width" | default 200 }}
    {{- $gutter := .Get "gutter" | default 10 }}
    {{- $s := .Scratch }}
    {{- $p := .Page }}
    {{- $r := (.Get "rsrc") }}
    {{- $a := (.Get "asset") }}
    <div class="leftpic__left" style="width:{{$imgwidth}}px; padding-right:{{$gutter}}px">
        {{- if (or $r $a (.Get "url") (.Get "nopic" ) ) }}
            {{- if (or $r (.Get "asset")) }}
                {{ with $r }}
                    {{- $s.Set "bigimage" ($p.Resources.GetMatch $r) }}
                {{ end }}
                {{ with $a }}
                    {{- $s.Set "bigimage" (resources.Get $a) }}
                {{ end }}
                {{- $size := $imgwidth | printf "%dx" }}
                {{- $image := ($s.Get "bigimage").Resize $size }}
                {{- $imageurl := $image.RelPermalink}}
                {{- $alttxt := .Get "alt" | default "Left Picture" }}
                {{- $title := .Get "title" | default $image.Title }}
                <img src="{{ $imageurl }}" alt = "{{ $alttxt }}" title="{{$title}}"/>
            {{ else if .Get "url" }}
                {{- $imageurl := .Get "url" }}
                {{- $alttxt := .Get "alt" | default "Left Picture" }}
                {{- $title := .Get "title" | default "Left Picture" }}
                <img src="{{ $imageurl }}" alt = "{{ $alttxt }}" title="{{$title}}"/>
            {{ end }}
        {{- else }}
            {{ errorf "leftpic needs an rsrc, asset or url (or nopic) at %s" .Position }}
        {{- end }}
    </div>
     <div class="leftpic__right" style="width:300px; flex-grow:1">
{{ .Inner | markdownify }}
    </div>
</div>